
@{
    ViewData["Title"] = "Secret";
}

<h2>Secret</h2>
<h1>Welcome @TempData["UserName"]</h1>
@using (Html.BeginForm("Logout", "Login", FormMethod.Post))
        {
            <a href="javascript:;" onclick="document.forms[0].submit();">Logout</a>
        }
